/*=========COMMON=========*/
@font-face {
    font-family: "OpenSans Regular";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans Bold";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }


    /*=========POPUP===========*/

.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  
  background-color: rgba(0, 0, 0, 0.75);
  background-size: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: center;
  align-items: baseline;
}

.hide {
  display: none;
}

.frequency {
  font-family: OpenSans Regular;
  font-size: 13px;  
  margin-bottom: 25px;
}

.frequency_question {
  margin-bottom: 10px;
}

.popup__container {
  max-width: 390px;
  
  padding: 50px 30px;
  
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}  

.feedback__title {
    font-family: OpenSans Bold;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0;
    text-align: center;
  }

.feedback__title::after {
    content: ' ';
    display: block;
    width: 66px;
    height: 3px;
    background: #b59f5b;
    margin: 12px auto 27px;
    padding:0;

    text-align: center;    
  }

.select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
     
    padding-left: 19px;
    margin: 10px 0 0 0;

    border: none;
      
    -webkit-appearance: none; 
    -moz-appearance: none;
      
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-color: #f4f7f6;
    background-size: 8px;
      
    font-size: 13px;
    font-family: OpenSans Regular;
    color: #000000;
      
  }
    
.select:focus {
    outline: 1px solid #b59f5b;
}

  .radio {
    -webkit-appearance: none; 
    -moz-appearance: none;
  }

  .radio_container {
    margin-bottom: 30px;
  }

  .radio_group_text:before {
    content: " ";
    display: inline-block;

    width: 18px;
    height: 18px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .radio:checked ~ .radio_group_text:before {
    background-image: url("../svg/form-circle.svg");
  }

.radio_group {
  display: inline-block;
  font-family: OpenSans Regular;
  font-size: 13px;
}

.field_textarea {
  width: 100%;
  min-height: 130px;
  background-color: #f4f7f6;
  border: none;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 20px;
}

.field_textarea:focus {
  outline: 1px solid #b59f5b;
}

.subscription_check {
  font-family: OpenSans Regular;
  font-size: 13px; 
  color: #000000;
}

.send_button {
  background: #b59f5b;
  border: none;
  padding: 16px 27px;
  width: 100%;
}

.send_button:hover {
  background: #323232;
}

.send_button-label {
  font-family: OpenSans Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.popup__close {
  background-image:url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer; 
}

.popup__close {
  width: 1.5em;
  
  position: absolute;
  top: -1.5em;
  right: 0;  
}

.popup__close:before, .popup__close:after {
  width: 1.4em;
  height: 0.2em;
}


  /*=========HEADER==========*/

  .header {
    position: relative;
    z-index: 1;
    
    margin: 0 auto;
    padding: 36px 0;
    box-sizing: border-box;
    width:100%;
    
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
  }
  .header:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .contain-wrapper {
    max-width: 1200px;
    margin:0 auto;
    padding: 0 15px;
    position: relative;
    z-index:1;
  }
  .container {
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    align-items: center;
  }
  
  .logo__img {
    min-width: 149px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type:none; 
    align-items: center;
    
    font-family: OpenSans Regular;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  .menu__button {
    width: 1.4em;
    height: 1em;  
    border: none;
    padding: 0;
  
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu__button:before, .menu__button:after {
    content:"";
    width: 100%;
    height: 20%;
  
    border-radius: 5px;
    background-color: #ffffff;  
  
    position: absolute;
    left: 0;
  }
  
  .menu__button:before {
    top: 0;
  }
  
  .menu__button:after {
    bottom: 0;
  }

  .menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;  
  
    border-radius: 5px;
    background-color: #ffffff;  
  
    position: absolute;
    left: 0;
    top: 50%;
  }

  .submenu {
    margin-left: 35px;
  }
  
  .submenu:hover {
    text-decoration: underline;
  }
  
  .submenu__item {
    text-decoration: none;
    color: #ffffff;
  }
  
  .site__name {
    font-family: OpenSans Bold, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    
    margin: 0 auto;
    padding: 113px 0;
    max-width:800px;
  }

  /*====TREND====*/
  .trend_container {
    width: 100%;
  }

  .trend__title {
    font-family: OpenSans Bold;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 55px;
    padding: 0;
    text-align: center;
  }
  
  .trend__title:after {
    content: ' ';
    display: block;
    width: 66px;
    height: 3px;
    background: #b59f5b;
    text-align: center;
  
    margin: 12px auto 27px;
    padding:0;
  }

  .content__title {
    font-family: OpenSans Bold;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .content__title:hover {
    color: #b59f5b;
  }

  .article__container {
    display: flex;
    flex-wrap: nowrap;
  }

  .trend_section {
    width: calc((100% - 15px)/4);
    height: 320px;
    box-sizing:border-box;
    display:flex;
    align-items: flex-end;
    padding: 1.25rem;

    position: relative;
    z-index: 1;
  }

  .trend_section:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .trend_section:not(:last-child) {
    margin-right: 5px;
  }

  .garden {
    background-image: url("../images/trend1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .cheese {
    background-image: url("../images/trend2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mountains {
    background-image: url("../images/trend3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .vitamin {
    background-image: url("../images/trend4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .trend__content {
    border: 3px solid #857b54;
    padding: 35px 30px 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  /*====MAIN====*/
  
  .container__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 60px auto 0;
    padding: 0 15px;
  }

  .main {
    width: calc(100% - 272px);
    padding-right: 35px;
  }

  .side {  
    width: 272px;
  }

  .section {
    padding: 0;
    
    display: flex;
    flex-direction: row;
  }
  
  .section:not(:last-child) {
    margin: 0 0 60px;
  }
  
  .image__container, .image_container {
    margin: 0;
    padding: 0;
  }
  .post__image {
    
    object-fit: cover;
    
    margin: 0;
    padding: 0;
  }
  
  .section__container {
    margin: 0 0 0 30px;
    width: 367px;
  }
  .links__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type:none; 
    align-items: center;
    
    font-family: OpenSans Bold;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  .list__item {
    text-decoration: none;
    color: #b59f5b;
  }

  .list__item:hover {
    text-decoration: underline;
  }

  .list__items_box:not(:first-child) {
    margin-left: 20px;
  }
  .list__items_box {
    margin-bottom:0;
  }
  
  .section__title {
    font-family: OpenSans Bold;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  h2 {
    margin: 0 0 27px 0;
    padding: 0;
  }
  
  .section__title:hover {
    color: #b59f5b;
  }
  .date_author {
    display: flex;
    flex-direction: row;
  }
  .date {
    font-family: OpenSans Regular;
    font-size: 12px;
    color:#888888;
    margin: 0;
  }
  .author {
    font-family: OpenSans Bold;
    font-size: 12px;
    color: #0f0d0e;
    margin-left: 15px;
    
    text-decoration:none;
  }
  
  .section__content {
    font-family: OpenSans Regular;
    font-size: 15px;
    color:#0f0d0e;
  
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    }
  
  .section__text {
    margin: 40px 0 0 0;
  }
  .text__part:nth-child(n+2) {
    margin-top: 22px;
    padding: 0;
  }
  
  /*===ASIDE======*/
  
  .side__title:after {
    content: ' ';
    display: block;
    width: 66px;
    height: 3px;
    background: #b59f5b;
    text-align: center;
  
    margin: 12px auto;
    padding:0;
  }
  .side__title {
    margin: 0 0 22px;
    width: 100%;
  
    font-family: OpenSans Bold;
    font-size: 14px;
    text-transform: uppercase;
    
    padding:0;
    text-align: center;
  }
  
  .subscribe_widget {
    margin-top: 60px;
  }
  
  .preview__img {
    min-width: 70px;
  }
  .aside__section {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin:0;
  }
  
  .aside_subtitle {
    font-family: OpenSans Bold;
    font-size: 14px;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 0em;
  }
  
  .aside_subtitle:hover {
    color: #b59f5b;
  }
  .side__container {
    display: flex;
    flex-direction: column;
  
    margin: 0 0 0 20px;
  }
  .date_side {
    font-family: OpenSans Regular;
    font-size: 12px;
    color:#a9a9a9;
  }
  h3 {
    margin: 0;
  }
  .aside__section:nth-child(n+3) {
    margin-top: 20px;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 60px 0 0 0;
  }
  .field {
    box-sizing: border-box;
    width: 224px;
    height: 48px;
    padding: 17px 0 17px 19px;
    margin: 0;
    
    display: inline-block;
    vertical-align: middle;
    
    font-family: OpenSans Regular;
    font-size: 13px;
    color: #939594;
    border: none;
  
    background-color: #f4f7f6;
  }
  
  .field:focus {
    outline: none;
    border: 2px solid #b59f5b;
  }
  
  .button {
    box-sizing: border-box;
    height: 48px;
    width: 49px;
    border: none;
    margin:0;
      
    cursor: pointer;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:  center;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 
  .subscribe {
    display: flex;
    flex-direction: column;
  }
  .email {
    width: 100%;
    padding: 15.2px 18px;
    font-family: OpenSans Regular;
    font-size: 13px;
    color: #939594;
  
    background: #f4f7f6;
    border: none;
  }
  
  .email_button {
    background: #b59f5b;
    margin: 17px 0 0 0;
    border: none;
    padding: 14.4px 0;
    cursor: pointer;
  }
  .subscribe__text {
    font-family: OpenSans Bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }
  
  .email:focus {
    outline: none;
    border: 2px solid #b59f5b;
  }
  
  .email_button:hover {
    background: #323232;
  }
  
  .tag_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width:100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tag_wrap {
    margin: 0 5px 5px 0;
    
    border: 3px solid #f4f3f1;
  
  }
  .tag {
    font-family: OpenSans Bold;
    font-size: 12px;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
    
    display: block;
    padding: 2.8px 13px;
  }
  
  .tag_wrap:hover {
    border: 3px solid #b59f5b;
  }
  .tag:hover {
    text-shadow: 1px 1px 1px #0f0d0e;
  }
  
  .tag_widget {
    margin-top: 60px;
  }
  
  .theme_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .theme {
    font-family: OpenSans Bold;
    font-size: 14px;
    color: #0f0d0e;
    text-decoration: none;
  }
  
  .theme_wrap {
    border-bottom: 1px solid #eeeeee;
  
    padding: 10px 0;
  }
  
  .theme:hover {
    color: #b59f5b;
  }
  .number {
    font-family: OpenSans Bold;
    font-size: 12px;
    color: #b59f5b;
  
    display: inline-block;
    margin: 0 0 0 3px;
    vertical-align: super;
  }
  
  .theme_widget {
    margin-top: 60px;
  }

  /*====SALES====*/

  .sales {
    width: 100%;
    margin-bottom: 65px;
  }

  .sales_container {
    display: flex;
    justify-content: space-between;
  }

  .sales__image {
    width: 100%;
    object-fit: cover;
  }

  .item__preview {
    margin: 0;
  }

  .sales__title {
    font-family: OpenSans Bold;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 55px;
    padding: 0;
    text-align: center;
  }
  
  .sales__title:after {
    content: ' ';
    display: block;
    width: 66px;
    height: 3px;
    background: #b59f5b;
    text-align: center;
  
    margin: 12px auto 27px;
    padding:0;
  }

  .shop_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: calc((100% - 224px)/3);
    padding: 0 20px;
  }

  .shop_resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .shop_button {
    background: #b59f5b;
    border: none;
    padding: 16px 27px;
  }

  .shop_button:hover {
    background: #323232;
  }
  .shop__text {
    font-family: OpenSans Bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .item_title {
    font-family: OpenSans Bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  .item_description {
    font-family: OpenSans Regular;
    font-size: 15px;
    outline: 3px solid #b59f5b;
    outline-offset: 50px;
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
  }

  .sales_info {
    font-family: OpenSans Regular;
    font-size: 15px;
    text-decoration: none;
    color: #bba76b;
  }

  .sales_info:hover {
    text-decoration: underline;
  }

  .old_price {
    font-family: OpenSans Bold;
    font-size: 14px;
    text-decoration: line-through;
    margin: 0;
  }

 

  .new_price {
    font-family: OpenSans Bold;
    font-size: 20px;
    margin: 0;
  }

  /*===FOOTER===*/
  .footer {
    min-width: 1170px;
    width: calc(100% - 70px);
    box-sizing: border-box;
    margin: 60px auto;
    padding: 0 245px;
  
    background-color: #f4f7f6;
    
  }
  
  .sm_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    list-style-type: none;
    padding: 30px 0;
    margin: 0;
  }
  
  .dribble_icon {
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
    background-position:  center;
  
    display: block;
    width: 20px;
    height: 20px;
  }
  .pinterest_icon {
    background-image: url("../svg/002-pinterest.svg");
    background-repeat: no-repeat;
    background-position:  center;
  
    display: block;
    width: 20px;
    height: 20px;
  }
  
  .twitter_icon {
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
    background-position:  center;
    
    display: block;
    width: 20px;
    height: 20px;
  }
  
  .link-icon_wrap {
    width: 20px;
    height: 20px;
  }
  .link-icon_wrap:nth-child(n+2) {
    margin-left:28px;
  }
  .subfooter {
    font-family: OpenSans Bold;
    font-size: 12px;
    color: #999999;
    text-decoration: none;
  
    display:flex;
    justify-content: center;
  
    margin: 0 0 40px 0;
  }

  /****=====TABLET====****/
  @media (min-width: 1200px) {
    .menu__button {
      display: none;
    }
  }
  @media (max-width: 1199px) {
    .menu {
      display: none;
    } 
    .section__container {
      margin: 0;
    }     
  }
    
  @media (min-width: 641px) and (max-width: 1199px) {
    .header {
      background-image: url("../images/banner-bg-tablet.jpg");
      padding: 35px;
    }
    .trend_section {
      width: calc((100% - 15px)/2);
      padding: 15px 20px;
    }

    .trend_section:nth-child(n+3) {
      margin-top: 3px;
    }
    .article__container {
      flex-wrap: wrap;
    }
    .section {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .section__container {
      width: 100%;
    }
    .post__image {
      width: 100%;
      box-sizing: border-box;
    }
    .shop_item {      
      width: calc((100% - 135px)/2);
    }
    .sales_container {
      display: flex;
     
      flex-wrap: wrap;
      padding: 0 35px;;
    }
    .shop_item:nth-child(n+3) {
      margin-top: 100px;
    }
    .site__name {
      font-size: 40px;
    }
    .section__title, .content__title {
      font-size: 17px;
    }
    .sales__title, .trend__title, .feedback__title {
      font-size: 18px;
    }
    .popup__close {
      width: 2em;
      height: 26px;
      top: -2.75em;
    }
    .popup__close:before, .popup__close:after {
      width: 2em;  
    }

    .footer {
      width: calc(100% - 70px);
      padding: 0;
      min-width: 360px;
      margin: 0 35px;
    }
  
  }

  @media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .trend_section {
      width: calc((100% - 15px)/4);
    }
  }

  @media (max-width: 641px) {
    .trend_section {
      width: 100%;
    }

    .trend_section:nth-child(n+2) {
      margin-top: 3px;
    }

    .trend_section:not(:last-child) {
      margin-right: 0px;
    }

    .article__container {
      flex-direction: column;
    }

    .header {
      background-image: url("../images/banner-mobile.jpg");
      padding: 15px;
    }

    .container {
      flex-direction: column-reverse;
      align-items: flex-end
    }

    .logo__img {
      min-width: 270px;
    }

    .menu__button {
      width: 1em;
      height: 0.8em;
      margin-bottom: 180px;
    }  

    .site__name {
      font-size: 26px;
      padding: 35px 0 215px;
    }

    .contain-wrapper {
      padding: 30px 0;
    }
    .logo {
      margin: auto;
    }

    .container__main, .section {
      flex-direction: column;
    }

    .container__main {
      width: 100%;
      max-width: 640px;
      margin: 45px 0;
      padding: 0;
    }

    .post__image {
      max-width: 640px;
    }

    .main {
      width: 100%;
      padding: 0 15px;
    }

    .section, .image__container, .post__image, .section__container, .section__content, .side {
    width: 100%;
    }

    .section:last-child {
    margin: 0 0 60px;
    }
    .side {
    padding: 0 15px;
    }

    .sales_container {
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
    }

    .shop_item {
      width: calc(100% - 70px);
      min-width: 360px;
      margin-left: 35px;
      margin-right: 35px;
          }

    .item_description {
      outline-offset: 5.6%;
    }

    .shop_item:not(:first-child) {
      margin-top: 70px;
    }

    .footer {
      width: calc(100% - 30px);
      padding: 0;
      min-width: 360px;
      margin: 0 15px;
    }

    .field {
      width: 100%;
    }
    .search-group {
      width: 100%;
    }
    body {
      min-width: 360px;
    }

    .sales__title, .trend__title, .feedback__title, .side__title, .content__title, .section__title {
      font-size: 16px;
    }

    .section__text, .section__content {
      font-size: 14px;
    }

    .item_title {
      font-size: 17px;
    }

    .popup__container {
      padding: 50px 15px;
      width: calc(100% - 30px);
      max-width: 610px;
    }
    .popup__close:before, .popup__close:after {
      width: 2.15em;  
    }
  }

  @media (max-width: 640px) and (orientation: landscape) {
    .trend_section {
      width: calc((100% - 15px)/2);
      padding: 15px 20px;
    }

    .trend_section:nth-child(n+3) {
      margin-top: 3px;
    }

    .trend_section:nth-child(even) {
      margin-left: 5px;
    }
    .article__container {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }